@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
	font-family: 'Verdana';
	src: local('Verdana Bold'), local('Verdana-Bold'),
		url('../fonts/Verdana-Bold.woff2') format('woff2'),
		url('../fonts/Verdana-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Verdana';
	src: local('Verdana'),
		url('../fonts/Verdana.woff2') format('woff2'),
		url('../fonts/Verdana.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@layer base {
	:root {
		--sol-ok: #FAEA5E,
        --sol-top: #E19803,
        --sol-ko: #FFFBD6,
		--BG-darkmode: #221C3E,
		--light-green: #E7FFD3,
		--gray: #5D5B65,
		--dark-green: #355917,
		--gray-light-bg: #FAFAFA,
		--select: #A29DB9,

		--fontSize-Sm: '0.875rem',
		--fontSize-Base: '1rem',
		--fontSize-Lg:'2rem',
		--fontSize-Xl:'2.5rem',

		lineHeight-normal :'100%',
		lineHeight-md:'1.313rem',
		lineHeight-lg:'1.375rem',
		lineHeight-xl:'1.75rem',
		lineHeight-2xl:'2.813rem',

		letterSpacing-sm: '-3%'
		letterSpacing-lg: '50%',
		boxShadow-base: '0px 4px 4px 0px rgba(0, 0, 0, 0.25)'
	}
}

