/* Valeurs temporaires pour éviter des problèmes avec des valeurs vides*/
:root {
  --color-primary: #000000;
  --color-secondary: #666666;
  --color-accent: #ffcc00;
  --font-sans: "Arial", sans-serif;
  --font-serif: "Times New Roman", serif;
}
.dark {
  --color-primary: #051948;
  --color-secondary: #6B7280;
  --color-accent: #F59E0B; 
}

/* Fonts */
@font-face {
    font-family: 'Verdana';
    src: local('Verdana Bold'), local('Verdana-Bold'),
        url('../fonts/Verdana-Bold.woff2') format('woff2'),
        url('../fonts/Verdana-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: local('Verdana'),
        url('../fonts/Verdana.woff2') format('woff2'),
        url('../fonts/Verdana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

